<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search User</title>
</head>
<body>

<h3>Search User using email address.</h3>
<form method="post">

    {% csrf_token %}

    {% if messages %}
        {% for message in messages %}
            {{ message }}
            <br><br>
        {% endfor %}
    {% endif %}

    <label for="email">Enter email address:</label>
    <input type="email" id="email" name="email"/>

    <button type="submit">Search</button>
</form>
</body>
</html>